<h1>SIGN UP</h1>
<form name="myForm" ng-submit="addUser()">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="myName" pattern="[A-Za-z\s]+" ng-model="myName" required>
                <div ng-show="myForm.myName.$error.required && myForm.myName.$dirty" class="alert">Name must be entered</div>
                <div ng-show="myForm.myName.$error.pattern && myForm.myName.$dirty" class="alert">Name must be Latin characters only</div>
            </td>
        </tr>
        <tr>
            <td>User name</td>
            <td><input type="text" name="myUname" ng-model="myUname"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="pass" ng-model="pass">
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="password" name="confirm" ng-model="confirm" ng-blur="passCheck()">
                <div class="alert" ng-show="show">Confirmed password must match Password!</div>
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="myAddress" ng-model="myAddress"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;"><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>